@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

code, pre {
  font-family: var(--font-mono);
}
